[profile.default]
solc = "0.8.10"
bytecode_hash = "none"
optimizer = true
optimizer-runs = 10
via_ir = false
runs = 256
gas_reports = ["ATokenVault"]
isolate = true

[fuzz]
max_test_rejects = 65536
runs = 256

[profile.intense.fuzz]
runs = 10000

[rpc_endpoints]
mumbai = "${MUMBAI_RPC_URL}"
polygon = "${POLYGON_RPC_URL}"

[etherscan]
mumbai = { key = "${ETHERSCAN_API_KEY}" }
polygon = { key = "${ETHERSCAN_API_KEY}" }
